    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="icon-big icon-info text-center">
                                    <i class="ti-server"></i>
                                </div>
                            </div>
                            <div class="col-xs-9">
                                <div class="numbers">
                                    <p>Total TestSuits - {{dashboardSummary.totalSuites}}</p>
                                    <p>Total TestCases - {{dashboardSummary.totalTestcases}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="ti-reload"></i> Updated now
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="icon-big icon-success text-center">
                                    <i class="ti-info-alt"></i>
                                </div>
                            </div>
                            <div class="col-xs-9">
                                <div class="numbers">
                                    <p> TestCases Success- 
                                   {{dashboardSummary.successTestCases}} </p>
                                </div>
                                <div class="numbers">
                                    <p> TestCases Failed- 
                                   {{dashboardSummary.failedTestCases}} </p>
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="ti-calendar"></i> Till Date
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="icon-big icon-warning text-center">
                                    <i class="ti-view-grid"></i>
                                </div>
                            </div>
                            <div class="col-xs-9">
                                <div class="numbers">
                                    <p>Steps Success - {{dashboardSummary.successSteps}} </p>
                                   <p>Steps Failed - {{dashboardSummary.failedSteps}} </p>
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="ti-timer"></i> Till time
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="icon-big icon-danger text-center">
                                    <i class="ti-pulse"></i>
                                </div>
                            </div>
                            <div class="col-xs-9">
                                <div class="numbers">
                                    <p>Skipped Test Cases - {{dashboardSummary.skippedTestCases}} </p>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="ti-timer"></i> In the last Exceution
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        <h4 class="title">TestSuite Result</h4>
                        <p class="category">All testing performed till date</p>
                    </div>
                    <div class="content">
                        <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>

                        <div class="footer">
                            <div class="chart-legend">
                                <i class="fa fa-circle text-success"></i> Success
                                <i class="fa fa-circle text-danger"></i> Failed
                                <i class="fa fa-circle text-warning"></i> Skipped
                            </div>
                            <hr>
                            <div class="stats">
                                <i class="ti-timer"></i> Till time
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card ">
                    <div class="header">
                        <h4 class="title">TS Result</h4>
                        <p class="category">Test Case status</p>
                    </div>
                    <div class="content">
                        <div id="chartActivity" class="ct-chart"></div>

                        <div class="footer">
                            <div class="chart-legend">
                            <i class="fa fa-circle text-success"></i> Success
                                <i class="fa fa-circle text-info"></i> Skipped
                                <i class="fa fa-circle text-warning"></i> Failed
                            </div>
                            <hr>
                            <div class="stats">
                                <i class="ti-calendar"></i> Till Date
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
                <div class="row">

          <!--   <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Testing Progress</h4>
                        <p class="category">12 Hours performance</p>
                    </div>
                    <div class="content">
                        <div id="chartHours" class="ct-chart"></div>
                        <div class="footer">
                            <div class="chart-legend">
                                <i class="fa fa-circle text-success"></i> Success
                                <i class="fa fa-circle text-danger"></i> Failed
                                <i class="fa fa-circle text-warning"></i> Skipped
                            </div>
                            <hr>
                            <div class="stats">
                                <i class="ti-reload"></i> Updated 3 minutes ago
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            
             <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">TestSuites Execution Summary</h4>
                    <p class="category"></p>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th *ngFor="let cell of pendingtestsuite.headerRow">{{ cell }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of pendingtestsuite.dataRows">
                                <td *ngFor="let cell of row">{{cell}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        </div>
    </div>
