<div class="container-fluid" style='font-size:95%'>
    <div class="row">
    
     <div *ngIf=successAlert class="alert alert-success">
	     {{this.response[0].errorMessage}}
	     <a class="close" (click)="removeAlert()">&times;</a>
	</div>

        <div class="col-md-12" *ngIf=displayTSTable>
            <div class="card">
                <div class="content table-responsive">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="border hover table-striped" frame="box">
                        <thead class="filters">
                            <tr>
                                <!-- <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>  -->   
                                 <th>#</th>
                                 <th>TC Name</th> 
                                  <th>Tag</th> 
                                  <th>QC Test ID</th> 
                                   <th width="30%">Description</th> 
                                  
                                    <th>Creation Date</th> 
									<th width="8%">                         	                           	
                            	  <a [routerLink]="['/testcasemanage','0']">  <button class="btn btn-success">Create New</button> </a>    	  
                            	
                            	</th>
                              </tr>
                        </thead>
                        <tbody>
                             <tr *ngFor="let TestCase of TestCaseArray let k = index" [class.selected]="TestCase.testcaseId === selectedSuiteId" >
       
                                <!-- <td *ngFor="let cell of row">{{cell}}</td> -->
                          
                            	<!-- <td>  {{TestCase.testcaseId}} </td> -->
                            	<td>  {{k+1}} </td>
                            	<td>
                            	{{TestCase.testcaseName}}
								    <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" data-toggle="collapse" href="#collapseOne"  (click)="showCollapseDiv(TestCase)">
								      <ul class="nav navbar-nav">{{TestCase.testcaseName}}</ul>
								    </div> -->
								</td>
                            	<td>{{TestCase.tag}}</td>
                            	 <td>  <a target="_blank" href="http://qualitycenter.tsl.telus.com/qcbin,QC_V10_PROJECTS,Wireless_Consolidated,[AnyUser];1:{{TestCase.hpqcId}}"> 
                            	 
                            	{{TestCase.hpqcId}}</a></td> 
                         		<td>  {{TestCase.description}} </td>
                            	<td>{{TestCase.creationDate}}</td>                            	
                            <td>
                           
                             <!-- <button class="btn btn-info btn-xs" (click)="run(TestSuite)">
					                       <i class="fa fa-arrow-circle-right"></i>
					          </button> -->
					          <span style='float:right'> 
					         <a [routerLink]="['/testcasemanage', TestCase.testcaseId]">   <button class="btn btn-info btn-xs">  <i class="fa fa-edit"></i>  </button> </a>
					          <button class="btn btn-danger btn-xs"                   (click)="removeTS(TestCase)">                 <i class="fa fa-minus"></i>         </button> 
					            </span>
					        </td>   

							</tr> 
                        </tbody>
                    </table>

                 </div>
                </div>

        </div>
        
        </div>
        
      

</div>
