    <div class="container-fluid" style='font-size:95%'>
        <div class="row">            
           <div *ngIf=successAlert class="alert alert-success">
			    Suite <b> {{suiteData.suiteName}} </b> execution completed successfully.
			     <a class="close" (click)="removeAlert()">&times;</a>
			</div>
	    <div class="col-md-12">
                <div class="panel">
					<b>
                    <ul class="list-group-item">
					Suite :-   {{suiteData.suiteName}} 
					<span style='float:right'> Status:- <span [ngStyle]="{'color':getColor(suiteData.status)}">{{suiteData.status}}</span>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  Execution Time:-   {{suiteData.completeDate}}
					</span>          
                    </ul>
                   </b>
                </div>
            </div> 
            
	 <!--    
            <div class="col-md-12">
                <div class="panel">
					 <div class="content table-responsive">
                    <ul class="list-group-item">		   
                   
					 <table class="table">                     
                            <tr>
                                <th>Suite Name</th> 
                                <th>Status</th> 
                                <th>Environment</th> 
                                <th>Execution Time</th> 
                                <th>Message</th>                                                      	
                              </tr>
                   
                        <tbody>
                             <tr>
                            	<td width="30%"> {{suiteData.suiteName}} </td>
                            	<td width="20%"><b><span [ngStyle]="{'color':getColor(suiteData.status)}">{{suiteData.status}}</span></b></td>
                            	<td width="10%">{{suiteData.env}}</td>
                            	<td width="10%">{{suiteData.completeDate}}</td>
                                <th width="30%">{{suiteData.resultMessage}}</th> 
							</tr> 
                        </tbody>
                    </table>                    
                  
                    </ul>
                    </div>
                </div>
            </div> 
        -->
	         <div class="col-md-4">
                <div class="panel" style="height:400px">
                    <div class="panel-heading">
                       <h6> Execution History</h6>                        
                    </div>
                    <div class="panel-body" style="height:320px; overflow-y: auto;">
                     <ul class="list-group">
				    <li *ngFor="let history of suiteHistoryArray" class="list-group-item">
				    
				     
				    
				    <!-- <a [routerLink]="['/suitedetails', history.suiteId,'result',history.testInstance]" *ngIf="testInstance === history.testInstance">   {{ history.testInstance}} </a>	 -->		
				    <button class="btn btn-info btn-xs" (click)="gethistory(history.suiteId,history.testInstance)"  [ngStyle]="{'color':getColor( history.status)}"
				    [disabled]="isActiveOption(history.testInstance)">   {{ history.testInstance}} </button>
					 <span [ngStyle]="{'color':getColor( history.status)}"> {{ history.status }}  :  {{ history.completeDate}}  	</span>		 
				     
				    </li>	 </ul> 
           
                    </div>
                </div>
            </div>
            
                    <div class="col-md-3">
                <div class="panel"  style="height:400px">
                    <div class="panel-heading">
                        <h6 class="title">Execution Summary</h6>
                        <!-- <p class="category">All testing performed till time</p> -->
                    </div>
                    <div class="panel-body">
                       <table class="table table-bordered">
                        
                            <tr>
                                <th>Test Summary </th>
                                <th>Count</th>                                                             
                            </tr>
                        
                        <tbody>
                        <tr> <td> Total  </td> <td> {{this.suitePercentage.total}}  </td> </tr> 
                        <tr> <td> Success </td> <td> {{this.suitePercentage.successTotal}} ({{this.suitePercentage.successPercentage}} %) </td> </tr>
                        <tr> <td> Failed </td> <td> {{this.suitePercentage.failedTotal}} ({{this.suitePercentage.failedPercentage}} %)</td> </tr> 
                       <tr> <td> Pending </td> <td> {{this.suitePercentage.pendingTotal}} ({{this.suitePercentage.pendingPercentage}} %)</td> </tr> 
                        <tr> <td> Ignored </td> <td> {{this.suitePercentage.ignoredTotal}} ({{this.suitePercentage.ignoredPercentage}} %)</td> </tr>                                
                        </tbody>
                    </table> 
                   </div>
                </div>
            </div>
      
      
             <div class="col-md-5"  style="height:400px">
                <div class="card" style="height:400px">
                    <div class="header">
                       <!--  <h4 class="title">{{suiteData.suiteName}} Result</h4> -->
                       <h6 class="title"><b>TEST RESULT</b></h6>
                       <!--  <p class="category">Till time</p> -->
                    </div>
                    <div class="content">
                        <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>

                        <div class="footer">
                            <div class="chart-legend">
                                <i class="fa fa-circle text-success"></i> Success
                                <i class="fa fa-circle text-danger"></i> Failed
                                <i class="fa fa-circle text-warning"></i> Ignored
                                <i class="fa fa-circle text-info"></i> Pending
                            </div>
                         
                            
                        </div>
                    </div>
                </div>
            </div>     
        
                
            <div class="col-md-12">
            <div class="card">
                <div class="header">
                   
                     <h6 class="title"><b>TESTCASE RESULT</b></h6>
                    <p class="category"></p>
                </div>
                <div class="content table-responsive">
                  
             
                <table class="table table-bordered table-striped">   			 	
			 	 
   				 <tr>                    
                       <th width="20%"> Testcase Name</th>
                       <th width="50%"> Status</th>
                      
                       <th width="10%"> Environment</th>
                       <th width="13%"> End Time</th>                      
                       </tr>   				   	
                       			
			     <tbody *ngFor="let testCaseRecord of testReportArray;  let k = index">		  
			     <tr></tr>    
			       <tr class="clickable" data-toggle="collapse" attr.data-target="#group-of-rows-{{k}}"  aria-expanded="false" >		       
			            <td width="20%"><i class="fa fa-plus-circle" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;
			            {{testCaseRecord.testcaseName}}</td>
			          	 <td><b><span [ngStyle]="{'color':getColor(testCaseRecord.status)}">{{testCaseRecord.status}}</span></b></td>
			            
			              <td>{{testCaseRecord.env}}</td>
			               <td>{{testCaseRecord.completeDate}}</td>
			        </tr>
			        
			        <tr  id="group-of-rows-{{k}}" class="collapse">
			         <!-- <div *ngIf="stepRecord.testcaseId ==testCaseRecord.testcaseId"> -->
			         
			            <td colspan="6"> 
			            <table class="table table-bordered table-striped" style="width: 97%;margin: 0px 0px 0px 50px">  
			            <tr>                     
                       <th width="15%"> Step Name</th>
                       <th width="11%"> Status</th>
                       <th width="61%"> Message</th>                       
                       <th width="13%"> End Time</th>                      
                       </tr>                       
			            <tr *ngFor="let stepRecord of stepReportArray">
			            <td *ngIf="stepRecord.testcaseId ==testCaseRecord.testcaseId" >{{stepRecord.stepName}}</td>
			          	 <td *ngIf="stepRecord.testcaseId ==testCaseRecord.testcaseId" ><b><span [ngStyle]="{'color':getColor(stepRecord.status)}">{{stepRecord.status}} </span></b></td>
			             <td *ngIf="stepRecord.testcaseId ==testCaseRecord.testcaseId" >{{stepRecord.resultMessage}}</td>
			              <td *ngIf="stepRecord.testcaseId ==testCaseRecord.testcaseId">{{stepRecord.completeDate}}</td>
			               </tr>
			               </table></td>
			            <!-- </div> -->
			         </tr>
			    </tbody>	
			    			   
			    		     
			  </table>
			  
               </div>
            </div>
        </div>
        
     <!--     
             <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">TestSuites Execution Summary</h4>
                    <p class="category"></p>
                </div>
                <div class="content table-responsive table-full-width">
                   	<table class="table table-bordered"> 				
   			 	
			 	 <thead>
   				 <tr>
                     <th> </th>
                       <th> RecordName</th>
                       <th> Status</th>
                       <th> Result</th>
                       <th> Env</th>
                       <th> completeDate</th>                      
                       </tr>
   				</thead>	
   				<div *ngFor="let testCaseRecord of testReportArray;  let i = index">
			     <tbody>			      
			       <tr class="clickable" data-toggle="collapse" attr.data-target="#group-of-rows-{{i}}"  aria-expanded="false">			       
			            <td><i class="fa fa-plus" aria-hidden="true"></i></td>
			            <td>{{testCaseRecord.testcaseName}}</td>
			          	 <td><b><span [ngStyle]="{'color':getColor(testCaseRecord.status)}">{{testCaseRecord.status}}</span></b></td>
			             <td>{{testCaseRecord.resultMessage}}</td>
			              <td>{{testCaseRecord.env}}</td>
			               <td>{{testCaseRecord.completeDate}}</td>
			        </tr>
			    </tbody>
			   
			    <tbody id="group-of-rows-{{i}}" class="collapse">
			        <tr *ngFor="let stepRecord of stepReportArray ;  let j = index">
			         <div *ngIf="stepRecord.testcaseId ==testCaseRecord.testcaseId">
			            <td></td>
			            <td>{{stepRecord.stepName}}</td>
			          	 <td><b><span [ngStyle]="{'color':getColor(stepRecord.status)}">{{stepRecord.status}} </span></b></td>
			             <td>{{stepRecord.resultMessage}}</td>
			              <td>{{stepRecord.env}}</td>
			               <td>{{stepRecord.completeDate}}</td>
			            </div>
			         </tr>
			    </tbody>
			      </div>
			  </table>

               </div>
            </div>
        </div>
         -->

    </div>
</div>
    
