<div class="container-fluid" style='font-size:95%'>
    <div class="row">
    <!-- <ng-progress></ng-progress>   -->
    <ng-progress [positionUsing]="'marginright'" [minimum]="0.05" [maximum]="1"
             [speed]="10000" [showSpinner]="true" [direction]="'leftToRightIncreased'"
             [color]="'brown'" [trickleSpeed]="300" [thick]="true" [ease]="'linear'"
></ng-progress>
        <div class="col-md-12">
            <div class="card">
                <div class="content table-responsive">
                    <table  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="border hover table-striped" frame="box">	
                        <thead>
                            <tr>
                                 <th>#</th> 
                                 <th>Test Suite</th> 
                                  <th>Env</th> 
                                   <th>Test Cases</th> 
                                  
                                    <th>Creation Date</th> 
                                                      <th width="10%">Execution History</th>    
                            	<th class="text-center" width="13%">                            	                           	
                            	  <a [routerLink]="['/suitemanage','0']">  <button class="btn btn-success" [disabled]="running">Create New</button> </a>                            	                             	
                            	</th>
                              </tr>
                        </thead>
                        <tbody>
                             <tr *ngFor="let Testsuite of TestSuiteArray let k = index" [class.selected]="Testsuite.suiteId === selectedSuiteId">
                               <!-- 	<td>  {{Testsuite.suiteId}} </td> -->
                               <td>  {{k+1}} </td>
                            	<td>{{Testsuite.name}}</td>                            	
                            	<td>{{Testsuite.env}}</td>
                            	<td> <div *ngFor="let TestCase of Testsuite.testcases let i = index"> {{TestCase.testcaseId}} . {{TestCase.testcaseName}}</div>  </td>                            	
                            	<td>{{Testsuite.creationDate}}</td>
                            	 <td> <span style='float:right'> <!-- <a [routerLink]="['/suitedetails', Testsuite.suiteId,'result','0']"> <b> {{Testsuite.executionCounter}} </b> </a> -->
                            	  <span *ngIf="Testsuite.executionCounter > 0"> <a [routerLink]="['/suitedetails', Testsuite.suiteId,'result','0']"><b> {{Testsuite.executionCounter}} </b> </a></span>
								 <span *ngIf="Testsuite.executionCounter == 0"> {{Testsuite.executionCounter}} </span>  
								 </span>
                            	</td>                          	
                            	                            	
                            <td>
                            <span style='float:right'>
                             <button class="btn btn-info btn-xs" (click)="run(Testsuite)" [disabled]="running">  <i class="fa fa-arrow-circle-right"></i> </button> 
                           
                             
					        <!--  <span style="text-align:right;" *ngIf=" Testsuite.executionCounter==0">  				          
					        <a [routerLink]="['/suitemanage', Testsuite.suiteId]">   <button class="btn btn-info btn-xs" [disabled]="running">  <i class="fa fa-edit"></i>  </button> </a> -->	
					          <button class="btn btn-danger btn-xs"   (click)="removeTS(Testsuite)" [disabled]="running">     <i class="fa fa-minus"></i>
					            </button> 
					             </span> 
					        </td>   
							</tr> 							
                        </tbody>
                    </table>

                 </div>
                </div>

        </div>
        
 
        </div>
        
      

</div>
