        <div class="container-fluid">
    <div class="row">        
	<div class="col-xs-12">
	     <div class="panel panel-default">
	<div class="panel-heading">
      <h6>Suite</h6>              
     </div>
     <div class="panel-body">            
      <div class="margin-10">
        
      </div>
       <form [formGroup]="suiteForm" novalidate (ngSubmit)="save(suiteForm.value)">    
        <div class="form-group" class="col-sm-7">
          <label>Suite Name</label><br>
          <input type="text"  formControlName="name"  size="60"> 
          <br>
          <small *ngIf="!suiteForm['controls'].name.valid" class="text-danger">
             Suite name is required.
            </small>
        </div>
         <div class="form-group col-sm-1"> </div>
        <div class="form-group" class="col-sm-2">
          <label>Environment</label> <br>
          <select formControlName="env" style="width: 120px;">
			    <option>PT140</option>
			    <option>PT148</option>
			    <option>PT168</option>
			    <option>ST</option>
			    <option>PROD</option>
			  </select>
  
  <br>
          <small *ngIf="!suiteForm['controls'].env.valid" class="text-danger">
             Please select the environment.
            </small>     
        </div>
         <div class="form-group col-sm-2"> </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <!--testcases-->
        <div formArrayName="testcases">
          <div *ngFor="let testcase of suiteForm['controls'].testcases['controls']; let i=index" class="panel panel-default">
            <div class="panel-heading">
              <span>Testcase #{{i + 1}}</span>
              <span class="glyphicon glyphicon-remove pull-right" *ngIf="suiteForm['controls'].testcases['controls'].length > 1" (click)="deleteTestCase(i)"><i class="fa fa-times"></i></span>
              
            </div>
            <div class="panel-body" [formGroupName]="i">
              <div class="form-group col-xs-2">
                <label>Testcase</label>
				</div>
			 <div class="form-group col-xs-8">
			 <ng-select 
			        formControlName="testcaseName"
			        [allowClear]="true"
			        [options]="testcaseOptions">
			    </ng-select>

                <small [hidden]="suiteForm['controls'].testcases.controls[i]['controls'].testcaseName.valid" class="text-danger">
                    Testcase is required
                </small>
              </div>
              <!-- <div> {{testcase.testcaseXml}}</div> -->
             <!-- <div class="form-group col-xs-1"> </div>
              <div class="form-group col-xs-3">
                 <label>Environment</label><br>
                <input type="text"   formControlName="testenv" > 
              </div>-->
              <div class="form-group col-xs-2"> </div>
            </div>
          </div>
        </div>

        <div class="margin-20">
          <a (click)="addTestCase()" style="cursor: default">
            Add test case +
          </a>
        </div>

        <div class="margin-20">
         <span class="btn btn-danger  pull-right" (click)="cancelForm()">Cancel</span>
                <button class="btn btn-danger  pull-right" type="reset">Reset</button> <button type="submit" class="btn btn-primary pull-right" [disabled]="!suiteForm.valid">Submit</button> 
        </div>
        <div class="clearfix"></div>

 <!--      <div class="margin-20">
          <div>Test Suite pre-view:-</div>
          <pre>Is suiteForm valid?: <br>{{suiteForm.valid | json}}</pre>
          <pre>
          Suite Name :- {{suiteForm.value.name}}   
          Suite Environment :- {{suiteForm.value.env}}
          Testcases :-
          <span  *ngFor="let testcase of suiteForm.value.testcases let x=index">
		    {{ x+1}} - {{ testcase.testcaseName}}   {{ testcase.testenv}} 
		  </span >			
          </pre>
        </div> -->
      </form>
    </div>
          </div>
          </div>
</div>
</div>
        
        <!-- <div class="row">
         <div class="col-md-12">
            <div class="card">
           
    <pre>{{suiteForm.value | json}}</pre>
          </div>
    
        </div>
        </div> -->
      
