        <div class="container-fluid">
    <div class="row">        
	<div class="col-xs-12">
	     <div class="panel panel-default">
	<div class="panel-heading">
      <h6>Test Case</h6>              
     </div>
     <div class="panel-body">            
      <div class="margin-10">
        
      </div>
       <form [formGroup]="testForm" novalidate (ngSubmit)="save(testForm.value)">    
        <div class="form-group" class="col-sm-7">
          <label>TestCase Name</label><br>
          <input type="text"  formControlName="testcaseName"  size="60"> 
          <br>
          <small *ngIf="!testForm['controls'].testcaseName.valid" class="text-danger">
             Test Case name is required.
            </small>
        </div>
         <div class="form-group col-sm-1"> </div>
        <div class="form-group" class="col-sm-2">
          <label>QC Test ID</label> <br>
          <input type="number"  formControlName="hpqcId"  size="20"> 
          
         <!--  <select formControlName="testenv" style="width: 120px;">
			    <option selected>PT140</option>
			    <option>PT148</option>
			    <option>PT168</option>
			    <option>ST</option>
			    <option>PROD</option>
			  </select>   -->
  <br>
       <!--   <small *ngIf="!testForm['controls'].testenv.valid" class="text-danger">
             Please select the environment.
            </small>     -->
        </div>
         <div class="form-group col-sm-2"> </div>
        <br>
    
        <!--testcases-->


        <div class="form-group" class="col-sm-12">
          <label>Tag for search:</label><br>
          <input type="text"  formControlName="tag"  size="100 %"> 
          <br>
          
        </div>
        
        <div class="form-group" class="col-sm-12">
          <label>TestCase XML</label><br>
        <!--  <textarea formControlName="testcaseXml" rows="10" style="width:100%;">  </textarea>  -->
         <!-- <div ace-editor
		       [(text)]="text" 
		       [mode]="'sql'" 
		       [theme]="'eclipse'"
		       [options]="options"
		       [readOnly]="false"
		       [autoUpdateContent]="true" 
		       [durationBeforeCallback]="1000" 
		       (textChanged)="onChange($event)"
		       style="min-height: 200px; width:100%; overflow: auto;"></div>
          -->
            
              <ace-editor
		       [(text)]="text" 
		        #editor style="min-height:200px; width:100%; overflow: auto; border: 1px solid lightgray;"></ace-editor>
        
         <!--  <br>
          <small *ngIf="!testForm['controls'].testcaseXml.valid" class="text-danger">
             Test Case XML is required.
            </small> -->
        </div>
        
        <div class="form-group" class="col-sm-12">
          <label>Description</label><br>
          <textarea formControlName="description" rows="4" style="width:100%;"> </textarea>
          <br>          
        </div>
        
     
        <div class="margin-20">               
                <span class="btn btn-danger  pull-right" (click)="cancelForm()">Cancel</span>
                 <div  [hidden]="editTC"><button class="btn btn-info  pull-right" type="reset">Reset</button>  </div>
                <button type="submit" class="btn btn-primary pull-right" [disabled]="!testForm.valid">Submit</button> 
        </div>
        <div class="clearfix"></div>

     <!--  <div class="margin-20">
          <div>Test  pre-view:-</div>
          <pre>Is testForm valid?: <br>{{testForm.valid | json}}</pre>
          <pre>testForm : <br>{{testForm.value | json}}</pre>
        </div>  -->
        
      </form>
    </div>
          </div>
          </div>
</div>
</div>

      
