
<table datatable [dtOptions]="dtOptions" class="row-border hover" frame="box">
 
 <tbody>
    <tr>
      <td>1</td>
      <td>mysql</td>
      <td>localhost</td>
      <td>3306</td>      
      <td>root</td>
      <td>root</td>
      <td>testautomation</td>
      <td><input type="checkbox" checked data-toggle="toggle"></td>
    </tr>
    </tbody>

<!-- 
  <tbody>
    <tr>
      <td>1</td>
      <td>Foo</td>
      <td class=" none" style="display: none;">Bar</td>
      <td>1</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Someone</td>
      <td class=" none" style="display: none;">Youknow</td>
      <td></td>
    </tr>
    <tr>
      <td>3</td>
      <td>Iamout</td>
      <td class=" none" style="display: none;" >Ofinspiration</td>
      <td></td>
    </tr>
    <tr>
      <td>4</td>
      <td>Yoda</td>
      <td class=" none" style="display: none;" >Skywalker</td><td></td>
    </tr>
    <tr>
      <td>5</td>
      <td>Patrick</td>
      <td class=" none" style="display: none;">Dupont</td>
      <td></td>
    </tr>   
  </tbody>  -->
</table>

