<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
            </button>
            <a class="navbar-brand" href="#">{{getTitle()}}</a>
        </div> -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="settings">
                        <i class="ti-settings"></i>
                        <p>Settings</p>
                    </a>
                </li>             
                <!-- <li>
                    <a href="#">
                        <i class="ti-user"></i>
                        <p>Profile</p>
                    </a>
                </li> -->
            </ul>

        </div>
    </div>
</nav>
